/* Edit.scss */
.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to viewport height */
    margin-top: 50px; /* Adjust margin from top */
    background-color: #f0f0f0; /* Background color */
  }
  
  .edit-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff; /* Background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .edit-form h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-form label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .edit-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .edit-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-cancel-button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-cancel-button:hover {
    background-color: #bbb;
  }
  